<!DOCTYPE html>
<html lang="ja" ng-app="myTepco">

<head>
    <meta charset="UTF-8">
    <title>電力使用状況</title>
    <script src="./components/angular/angular.js"></script>
    <script type="text/javascript" src="./ag_powerUsage.js"></script>
    <link rel="stylesheet" href="./components/bootstrap/docs/assets/css/bootstrap.css"/>
</head>
<body>
<div class="navbar">
    <div class="navbar-inner">
        <a class="brand">電力使用状況</a>
        <ul class="nav">
            <li class="active"><a href="./angular.html">AngularJS</a></li>
            <li><a href="/">MeteorJS</a></li>
        </ul>
    </div>
</div>

<div class="container">

    <div ng-controller="mainCtrl" ng-init="latestPowerUsage()">
        <div class="span2">
     <span ng-repeat="plant in plants">
            <label class="radio">
                <input type="radio"
                       name="myplant"
                       ng-change="latestPowerUsage()"
                       ng-model="$parent.user"
                       value="{{plant.key}}"> {{plant.name}}電力
            </label></span>
        </div>

        <div class="span6">
            <dl>
                <dt>地域</dt>
                <dd>{{results.Area}}</dd>
            </dl>
            <dl>
                <dt>電力使用量</dt>
                <dd>{{results.Usage.$}} KW</dd>
            </dl>
            <dl>
                <dt>最大供給量</dt>
                <dd>{{results.Capacity.$}} KW</dd>
            </dl>
            <dl>
                <dt>集計対象日</dt>
                <dd>{{results.Date}}</dd>
            </dl>
            <dl>
                <dt>集計対象時</dt>
                <dd>{{results.Hour}}</dd>
            </dl>
        </div>

    </div>
</div>
</body>
</html>